.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div {
  padding: 10px;
  border: 1px solid black;
  border-color: #FADADD;
  margin: 5px;
  font-family: verdana;
  font-size: 14px;
}
